#playing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  border: 2px solid navy;
  height: 300px;
  width: 200px;
  border-radius: 10px;
  justify-content: space-between;
  padding: 10px;
}

.left{
  display: flex;
  align-self: flex-start;
  font-size: clamp(3rem,5vw,2rem);
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: clamp(4rem, 15vw, 8rem);
}

.right {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: clamp(3rem, 5vw, 2rem);
}

.spade, .club {
  color: black;
}

.heart, .diamond {
  color: red;
}
